<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dachi Pet</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body>
    <div id="container">
        <ul id="stats">
            <li id="fullness">Fullness: <span>@ViewBag.Dachi.Fullness</span></li>
            <li id="happiness">Happiness: <span>@ViewBag.Dachi.Happiness</span></li>
            <li id="meals">Meals: <span>@ViewBag.Dachi.Meals</span></li>
            <li id="energy">Energy: <span>@ViewBag.Dachi.Energy</span></li>
        </ul>
        <div id="status">
            <img id="happy" src="~/images/happy.png" alt="happy emoji" />
            <img id="sad" src="~/images/sad.png" alt="sad emoji" />
            <img id="dead" src="~/images/dead.png" alt="dead emoji" />
            <p>@ViewBag.Dachi.Status</p>
        </div>
        <div id="game-start">
            <a href="#" id="feed">Feed</a>
            <a href="#" id="play">Play</a>
            <a href="#" id="work">Work</a>
            <a href="#" id="sleep">Sleep</a>
        </div>
        <div id="game-over">
            <a href="/restart">Restart?</a>
        </div>
        <div id="about">
            <p>Dachi Pet is a simple virtual pet game built in C# using the ASP.NET Core Framework with jQuery and AJAX.</p>
            <button id="modal-button">How to Play</button>
        </div>
        <div id="my-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Your pet has 3 important stats, Fullness (as in not hungry), Happiness and Energy. Get each of these over 100 and you win.  Let any one of them fall to 0 though and your pet will die and you lose.</p>
                <p><strong>Feed:</strong> Requires at least 1 available meal. Feeding your pet will increase its fullness anywhere between 5 and 10 points and use up 1 meal.  There is a chance your pet may not be feeling well and reject the meal, in which case no fullness is gained and 1 meal is still used up.</p>
                <p><strong>Play:</strong> Playing with your pet will increase its happiness between 5 and 10 while using up 5 energy.  If your pet isn't in the mood to play no happiness is gained, but energy is still used up.</p>
                <p><strong>Work:</strong> Working with your pet will earn between 1 to 3 meals and use up 5 energy</p>
                <p><strong>Sleep:</strong> Whenever your pet sleeps it will gain 15 energy and wake up with 5 less fullness and 5 less happiness.</p>
            </div>
        </div>
    </div>
</body>
</html>