@{
    ViewData["title"] = "Dashboard";
}

<h1>Welcome @ViewBag.UserName</h1>
<a href="/logout">Logout</a>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var user in ViewBag.Users)
    {
        <tr>
            <td>@user["Id"]</td>
            <td>@user["FirstName"]</td>
            <td>@user["LastName"]</td>
            <td>@user["UserName"]</td>
            <td>@user["DateOfBirth"].ToString("d")</td>
            <td>@user["Email"]</td>
            <td>@user["CreatedAt"]</td>
            <td>@user["UpdatedAt"]</td>
        </tr>
    }
    </tbody>
</table>